.banner {
  background: var(--blue-50);
}

.bannerContent {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;
  padding-top: 2.375rem;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;

  section {
    max-width: 550px;

    h1 {
      margin: 0.5rem auto 1.875rem;
      font-size: 4rem;
      line-height: 125%;
      color: var(--blue-900);
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--gray-400);
    }

    button {
      margin-top: 2.5rem; 
    }
  }

  img {
    width: 470px;
  }

  @media (max-width: 700px) {
    flex-direction: column;

    section {
      max-width: unset;
      margin-top: 2rem;

      h1 {
        font-size: 2rem;
        margin: 1rem 0;;
      }

      p {
        font-size: 1rem;
      }

      button {
        float: right; 
      }
    }

    img {
      margin-top: -50px;
      width: 350px;
    }
  }
}


.clients {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 6.875rem auto;
}

.clientsInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.875rem;

  img + img, p:last-child {
    margin-left: auto;
  }

  p {
    color: var(--gray-300);
  }

  @media (max-width: 700px) {
    row-gap: 1rem;

    p:first-of-type {
      color: transparent;
    }

    p:last-of-type {
      text-align: right;
      width: 200px;
    }
  }
}

.companies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4.375rem;

  @media (max-width: 700px) {
    overflow-y: auto;
    column-gap: 50px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.guide {
  max-width: 685px;
  padding: 0 2rem;
  margin: 8rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  hr {
    width: 2.5rem;
    border: 2px solid var(--blue-900);
    border-radius: 0.75rem;
  }

  h3 {
    color: var(--blue-900);
    font-size: 2.15rem;
    font-weight: 500;
    margin-top: 0.625rem;
  }

  p {
    font-size: 1rem;
    max-width: 460px;
    color: var(--gray-300);
    font-weight: 300;

    margin-top: 1.25rem;
  }

  .steps {
    width: 100%;
    margin-top: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    margin-top: 3rem;
  }

  @media (max-width: 700px) {
    max-width: unset;

    h3 {
      font-size: 1.875rem;
    }

    p {
      font-size: 1rem;
      max-width: 300px;
    }
  }
}

.properties {
  background: var(--blue-50);
  padding: 4rem 2rem;
}

.propertiesContent {
  max-width: 1120px;
  margin: 0 auto;

  h3 {
    color: var(--blue-900);
    font-size: 2.15rem;
    font-weight: 500; 
  }

  p {
    font-size: 1rem;
    max-width: 460px;
    color: var(--gray-300);
    font-weight: 300;

    margin-top: 1rem;
  }

  .cards {
    margin-top: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  @media (max-width: 700px) {
    h3 {
      font-size: 1.875rem;
    }

    p {
      font-size: 1rem;
    }
    .cards {
      overflow-y: auto;
      column-gap: 50px;
    }
    .cards::-webkit-scrollbar {
      display: none;
    }
  }
}

.statistics {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 6.175rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .statisticsInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > div {
      max-width: 300px;
      margin-left: 10rem;

      hr {
        width: 2.5rem;
        border: 2px solid var(--blue-900);
        border-radius: 0.75rem;
      }

      h3 {
        color: var(--blue-900);
        font-size: 2.15rem;
        font-weight: 500; 
        margin-top: 0.875rem;
      }

      p {
        font-size: 1rem;
        max-width: 460px;
        color: var(--gray-300);
        font-weight: 300;
    
        margin-top: 1rem;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column-reverse;

      img {
        margin-top: 2rem;
        width: 350px;
      }

      & > div {
        margin-left: 0;

        h3 {
          font-size: 1.875rem;
        }
    
        p {
          font-size: 1rem;
          line-height: 26px;
        }
      }
    }
  }

  .statisticsNumbers {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      strong {
        font-size: 3rem;
      }

      p {
        font-size: 1.125rem;
        font-weight: 300;
        color: var(--gray-300);
      }
    }

    @media(max-width: 700px) {
      margin-top: 4rem;
      flex-direction: column;
      row-gap: 50px;
    }
  }
}

.action {
  max-width: 1120px;
  height: 380px;
  margin: 7rem auto;
  padding: 0 3.75rem;

  border-radius: 1.5rem;
  background: var(--blue-500);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    strong {
      color: var(--white);
      font-size: 2.15rem;
      letter-spacing: 1px;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      color: var(--white);

      margin: 1.5rem auto 2rem;
    }

    button {
      color: var(--blue-500);
    }
  }

  img {
    margin-right: 5rem;
  }

  @media (max-width: 700px) {
    border-radius: 0px;
    padding: 0 1rem;

    & > div {
      strong {
        font-size: 2rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
    img {
      margin-right: 0px;
      height: 300px;
    }
  }
}

.footer {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  ul {
    list-style: none;

    li:first-of-type {
      font-weight: 500;
      margin-bottom: 2.5rem;
    }

    li + li {
      margin-bottom: 0.875rem;
      font-weight: 300;
      color: var(--gray-400);
    }
  }

  & > div {
    strong {
      font-weight: 500;
    }

    p {
      width: 250px;
      margin-top: 2.5rem;
      font-weight: 300;
      color: var(--gray-400);
      
      @media (max-width: 700px) {
        display: none;
      }
    }

    div {
      margin-top: 1rem;
      width: 80px;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: 700px) {
    & > div {
      display: none;
    }
  }
}

.copyRight {
  margin: 3rem auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-weight: 300;
    color: var(--gray-100);
  }

  @media (max-width: 700px) {
    margin: 3rem auto 1rem;
    flex-direction: column;
    row-gap: 30px;

    img {
      align-self: flex-start;
      width: 80px;
    }

    p {
      font-size: 0.875rem;
    }
  }
}